* {
    margin: 0;
    padding: 0;
    font-family: "Netflix Sans", "Helvetica Neue", "Segoe UI", "Roboto, Ubuntu", sans-serif;
}

.main {
    height: 94.3vh;
    width: 100%;
    background-image: url(Assets/Images/background-image.jpg);
    transform: scale(1);
    background-size: max(1550px, 100vw);
    background-position: bottom;
    background-repeat: no-repeat;
}

.background {
    height: 94.3vh;
    background: rgb(0 0 0 / 40%);
}

body {
    background-color: black;
}

.cover {
    height: 100%;
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.8) 0, rgba(0, 0, 0, 0) 60%, rgba(0, 0, 0, 0.8) 100%);
}

.separation {
    height: 8px;
    width: 100%;
    background-color: rgb(35 35 35);
}

.nav span img {
    height: 40px;
    width: 160px;
    padding: 15px;
}

.nav {
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 80vw;
    margin: auto;
    padding-top: 15px;
}

.click {
    bottom: -3px;
    color: #fff;
    position: relative;
    padding-left: 4px;
}

.lang {
    color: #fff;
    padding-right: 6px;
    bottom: -1.2px;
    position: relative;
}

.btn-select {
    background-color: transparent;
    color: rgb(255, 255, 255);
    border: 1PX solid #7b7b7b;
    font-Family:
        "Netflix Sans", "Helvetica Neue", "Segoe UI", "Roboto, Ubuntu", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
    border-radius: 4px;
    padding: 5px 11px;
    margin-right: 20px;
    cursor: pointer;
}

.btn-select:hover {
    background-color: #7b7b7b30;
}

.btn-red {
    font-family: "Netflix Sans", "Helvetica Neue", "Segoe UI", " Roboto, Ubuntu", sans-serif;
    font-weight: 700;
    font-size: 14px;
    font-style: normal;
    color: rgb(255, 255, 255);
    background-color: rgb(229, 9, 20);
    border-style: none;
    padding: 6.5px 16px;
    border-radius: 4px;
    cursor: pointer;
}

.btn-red:hover {
    background-color: rgb(193, 17, 25);
}

.content .first-final .get-started:hover {
    background-color: rgb(193, 17, 25);
}

.button {
    margin-right: 38px;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 70%;
    color: #fff;
    padding: 40px;
    margin-top: 40px;
}

.big-text {
    font-family: "Netflix Sans", "Helvetica Neue", "Segoe UI", "Roboto, Ubuntu", sans-serif;
    font-size: 48px;
    font-weight: 800;
    font-style: normal;
    line-height: normal;
    color: #fff;
    text-align: center;
}

.second-text {
    font-family: "Netflix Sans", "Helvetica Neue", "Segoe UI", "Roboto, Ubuntu", sans-serif;
    font-size: 24px;
    font-weight: 500;
    font-style: normal;
    line-height: normal;
    color: #fff;
    padding: 12px;
    padding-top: 20px;
    text-align: center;
}

.last-text {
    font-family: "Netflix Sans", "Helvetica Neue", "Segoe UI", "Roboto, Ubuntu", sans-serif;
    font-size: 20px;
    font-weight: 450;
    font-style: normal;
    line-height: 20px;
    color: #fff;
    padding: 12px;
    text-align: center;
}

.first-final input {
    padding: 15px;
    background-color: transparent;
    border: 1px solid gray;
    color: rgb(255, 255, 255);
    font-size: 17px;
    font-family: "Netflix Sans", "Helvetica Neue", "Segoe UI", Roboto, Ubuntu, sans-serif;
    border-radius: 4px;
    font-weight: 500;
    padding-right: 125px;
    margin-right: 4px;
    font-style: normal;
    line-height: 24px;

}

.first-final .get-started {
    padding: 11px 23px 18px 23px;
    background-color: rgb(229, 9, 20);
    border-style: none;
    color: rgb(255, 255, 255);
    font-size: 24px;
    font-family: "Netflix Sans", "Helvetica Neue", "Segoe UI", Roboto, Ubuntu, sans-serif;
    border-radius: 4px;
    font-weight: 640;
    font-style: normal;
    line-height: 24px;
    cursor: pointer;
    margin-top: 12px;
}

.Get svg {
    position: relative;
    bottom: -4px;
    right: 8px;
}

::-webkit-input-placeholder {
    color: #bfbfbf;
    font-weight: 400;
}

.content .first-final {
    text-align: center;
}

.second-page {
    height: 77vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.second-page-text {
    display: flex;
    flex-direction: column;
    margin-left: 50px;
    margin-bottom: 40px;
    margin-right: 35px;

}

.second-page-big-text {
    color: #fff;
    font-weight: 900;
    font-size: 48px;
    font-style: normal;
    line-height: normal;
    margin: 20px;
    margin-left: 0px;
    margin-bottom: 12px;
}

.second-page-second-text {
    color: #fff;
    font-weight: 400;
    font-size: 24px;
    line-height: normal;
    font-style: normal;
    max-width: 38vw;
}

.second-page-img-or-video {
    position: relative;
    margin-bottom: 20px;
    margin-right: 30px;
}

.second-page-img-or-video img {
    width: 38vw;
    position: relative;
    z-index: 10;
}

.second-page-img-or-video video {
    position: absolute;
    top: 90px;
    right: 82px;
    width: 27.7vw;
}

.sec-img-video img {
    width: 37.9vw;
    margin-right: 10px;
}

.sec-text {
    max-width: 38%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 38px;
}

.over-lap {
    height: 100px;
    width: 21vw;
    border: 1.5px solid gray;
    border-radius: 12px;
    position: absolute;
    bottom: -137vh;
    left: 304px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: left;
}

.stranger {
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    font-style: normal;
    line-height: normal;
    margin-right: 40px;
}

.loading {
    color: rgb(0, 113, 235);
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    line-height: normal;
    margin-right: 65px;
}

.over-lap img {
    width: 59px;
    position: absolute;
    left: 12px;
}

.sec-four {
    height: 77vh;
}

.sec-four .sec-four-img img {
    width: 37.8vw;
    margin-right: 100px;
    align-items: center;
    margin-right: 150px;
}

.sec-second-text .sec-four-small-text {
    max-width: 85%;
    margin-left: -40px;
}

.sec-second-text {
    align-items: center;
    padding-left: 80px;
}

.sec-four-big-text {
    margin-left: -90px;
}

.sec-four-img video {
    width: 23.4vw;
    height: 236px;
    position: absolute;
    left: 105px;
    top: 36px;
}

.sec-five-five-text {
    align-items: center;
}

.sec-asked {
    height: auto;
    /* margin: auto; */
}

.sec-asked h1 {
    align-items: center;
    color: #fff;
    font-size: 48px;
    font-weight: 900;
    font-style: normal;
    line-height: normal;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
    margin-bottom: 20px;
}

.sec-asked .box {
    font-size: 24px;
    font-weight: 400;
    font-style: normal;
    line-height: normal;
    color: rgb(255, 255, 255);
    max-width: 76vw;
    height: 44px;
    padding: 20px 25px;
    margin: 8px 0px 8px 0px;
    background-color: rgb(45 45 45);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.boxes {
    max-width: 76vw;
    margin: auto;
}

.boxes .box span {
    padding-right: 5px;
    display: flex;
    align-items: center;
}
.box:hover{
    background-color: #7b7b7b7f;
}
.boxes .box-7 p {
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;

}

.boxes .box-8 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 75px;
}

.sec-last .footer-sec {
    height: 45vh;
    max-width: 76vw;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin: auto;
    margin-top: 65px;

}

.sec-last .footer-sec .grid {
    height: 40vh;
    width: 250px;
    display: flex;
    flex-direction: column;

}

.sec-last .footer-sec .grid-1 .call a {
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
    line-height: normal;
    color: rgba(255, 255, 255, 0.7);
}

.sec-last .footer-sec .grid-1 .call {
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
    line-height: normal;
    color: rgba(255, 255, 255, 0.7);
    padding-bottom: 20px;
}

.grid-1 .link a {
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    line-height: normal;
    color: rgba(255, 255, 255, 0.7);
}

.grid-1 .link p {
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    line-height: normal;
    color: rgba(255, 255, 255, 0.7);
    padding-bottom: 0px;
}

.grid .link {
    padding-bottom: 12px;
}

.grid-1 .link .btn-select {
    margin: 15px 0px 15px 0px;
}

.grid .link a {
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    line-height: normal;
    color: rgba(255, 255, 255, 0.7);

}

.grid-2 {
    margin-left: 9px;
    margin-top: 45px;
}

.grid-3 {
    margin-top: 45px;
}

.grid-4 {
    margin-top: 45px;
}